h2{position: relative; left: 10%;}

a:hover, a:visited, a:link, a:active{text-decoration: none;}

body { background-color: #2c4762;}

form {position: relative; left: 30%; top: 50px; padding: 5px;	width: 550px; height: 250px; border: 1px #FA3452; box-shadow: 1px 1px 1px 1px; border-radius: 5px; background-color: #fff;}

table {display:block; position: relative; left: 10%; padding:3px; width:100px}

.submit {color: green; width: 5em;	height: 2em;}

.submit:hover {cursor: pointer;}

textarea, .inputtext, .inputpassword {border:1px solid #bdc7d8; margin:0; padding:3px; width: 200px;}

.line {position: relative; background-color: #d3d3d3}

.horizontal {left: 0px; bottom: 20px; width: 550px; height: 1px}