body{background-color: #404040; color: #fff;}

h2{text-align: center;}

a:hover, a:visited, a:link, a:active{text-decoration: none;}

#ChatBig{width: 500px; height: 480px; border: 1px solid #888; border-radius: 5px; margin: auto; background-color: #fff; color: #000; padding: 10px;}

#ChatMessage{width: 490px; height: 400px; border: 1px solid #000; font-size: 16px; font-weight: normal; overflow-y: scroll; padding-left: 10px;}

#ChatBar{width: 500px; height: 20px; background-color: #fff;}

#ChatText{width: 498px; height: 48px; border-bottom: 1px solid #333;}

#ChatText:focus{outline: auto;}

.UserNameS{font-weight: bold; color: gray;}

.UserNameS:hover{text-decoration: underline; cursor: pointer;}